.app__body {
display: flex;
background-color: white;
margin-top: -10px;
height: 100vh;
width: 100vw;


}
.app__form {
  padding: 20px;
  position:fixed;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;
  width: 100%;
  margin: 20px;
  }

.app__formControl {
 display: flex !important;
 flex-direction: row !important  ;
}

.app__input {
  flex: 0.98; 
}


.app__iconButton {
  flex:0;
}