.chat  {
    flex: 0.80;
    display: flex;
    flex-direction: column;
      font-family: 'Roboto', sans-serif;
overflow: scroll;
}

.chat__header {
display: flex;
border-bottom: 1px solid #f6f6f6;
background: #fff;
    padding: 22px 5px 7px 2px;
    position: fixed;
    z-index: 1;
    top: 0; 
     height: 50px; 
    width: calc(100% - 351px);
    cursor: default;

}

.chat__headerInfo {
    flex: 1;
padding-left: 20px;

}

.chat__headerInfo > h3 {
    margin-bottom: 3px;
    font-weight: 500;
    
}

.chat__headerInfo > p {
    color: gray;
   
}

.chat__message {
    position: relative;
font-size: 16px;
padding: 10px;
border-radius: 9px;
width: fit-content;
background-color:#f1f1f4;;
margin-bottom: 30px;

}

.chat__reciever {
justify-content: end;
margin-left: auto;
background-color: #2d7cc1;
color: white;
padding-right: 10px;
margin-right: 20px;
    margin-top: 100px;
}


.chat__timestamp {
    font-size: 10px;
   margin-left: 200px;
font-size: 13px;
  padding-left: 250px;
  color:gray;
}


.chat__name {
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: 50px;
}




.chat__headerRight {
    display: flex;
    justify-content: space-between;
    min-width: 100px;
    margin-right: 50px;
    
}



.chat__body {

background-color: white;
padding-left: 10px;
padding-top: 2px;
}

.chat__footer {
    display: flex;
justify-content: space-between;
align-items: center;
background: #fff;

height: 62px;
width:80%;
 position: fixed;
 bottom: 0;
 border-top: 1px solid #f6f6f6;
}

.chat__footer > form {
    flex: 1;
    display: flex;
    background-color: gray;
text-decoration: none;
    border-radius: 30px;

}

.chat__footer > form > input {
 flex:1;
 border-radius: 40px;
 padding: 10px;
 border: none;
 background-color: #f6f6f6;
color: gray;
}

.chat__footer > form > button {
    display: none;
}

.chat__footer > .MuiIconButton-root {
    padding: 10px;
    color: #2d7cc1 !important;
}

.chat__headerRight > .MuiIconButton-root {
   
    color: #2d7cc1 !important;
}