.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.20;

}
 .sidebar__search {
    display: flex;
    align-items: center;
    background-color: white;
    height: 0.1px;
    padding: 10px;
    }

.sidebar__searchContainer {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    width: 100%;
    height: 40px;
border-radius: 30px;}

.sidebar__searchContainer > input {
border: none;
margin-left: 15px;
background-color: #f6f6f6;
margin-left:  2px; ;
}

.sidebar__searchContainer > .MuiSvgIcon-root {
 color: gray;
padding: 5px;
margin-left: 5px ;
}

.sidebar__header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-right: 1px solid white;
}

.sidebar__headerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 0.2vw;
}

.sidebar__headerRight > .MuiIconButton-root {
    color: black;
}
