.sidebarChat {
display: flex;
padding: 10px;
padding-top: 11px;
    padding-bottom: 11px;
cursor: pointer;
border-bottom: 1px solid #f6f6f6;
border-right: 1px solid #f6f6f6;
        align-items: center;
justify-content: flex-start;

}

a{
text-decoration: none !important;
color: black;
}



.sidebarChat:hover {
    background-color: #ebebeb;
}

.sidebarChat__info > h2 {
 font-size: 15px;
 font-weight: 600;
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
    text-align: left;
        align-items: center;
  line-height: 0;

}

.sidebarChat__text {
font-size: 14px;
  font-family: 'Roboto', sans-serif;
   line-height: px;   
}



.sidebarChat__info {
margin-left: 13px;

}